<div>
  <h3>Gallery</h3>

  <div>
    {{#each availableNfts}}
      {{#if activeUser}}
      <a href="/nft/details">
      <button>clik</button>
        <h6>Name:{{this.name}}</h6>
        <img src="{{this.url}}" alt="nft-image">
      </a>
      {{else}}
        <h6>Name:{{this.name}}</h6>
        <img src="{{this.url}}" alt="nft-image">
      {{/if}}
    {{/each}}
  </div>

</div>