<div>
  <h2>Profile</h2>
  <h4>Username: {{profileDetails.username}}</h4>
  <img src="{{profileDetails.url}}" alt="user-Picture" width="200px" />
  <br>
    {{#if isUserAdmin}}
      {{#each solicitudeCreditAdmin}}
        <p>{{this.owner.firstName}} {{this.owner.lastName}} wants to add ${{this.credit}}</p>
        <form action="/profile" method="post">
          <label for="accept-solicitude">Do you accept the solicitude? (yes/no)</label>
          <br>
          <input type="text" name="accept-solicitude">
          <br>
          <button>Respond solicitude</button>
          <br>
        </form>
      {{/each}}
    {{else}}
    <div>
      <h5>Name: {{profileDetails.firstName}}</h5>
      <h5>Lastname: {{profileDetails.lastName}}</h5>
      <a href="/profile/edit">
        <button>Edit profile</button>
      </a>
      {{#if pendingApproval}}
      <h6>Wallet: ${{profileDetails.wallet}} <span class="text-primary">(Pending approval)</span></h6>
      {{else}}
      <h6>Wallet: ${{profileDetails.wallet}}</h6>
      {{/if}}
      <a href="/profile/credit">
        <button>Recharge credit</button>
      </a>
      <br />
      <a href="/profile/create">
        <button>Create NFT</button>
      </a>
    </div>
    <div>
      {{#each userNft}}
      <h6>Name:{{this.name}}</h6>
      <img src="{{this.url}}" alt="nft-image" width="100px" />
      <a href="/profile/{{this._id}}/details">
        <button>Go see the details</button>
      </a>
      {{/each}}
    </div>
  {{/if}}
</div>